@using AzzanOrder.ManagerOwner.Services
@inject EmployeeService EmployeeService
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
	<meta name="author" content="AdminKit">
	<meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="@Url.Content("~/img/icons/icon-48x48.png")" />


	<link rel="canonical" href="index.html" />

	<title>Ordering System Management</title>

	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&amp;display=swap" rel="stylesheet">

	<link rel="stylesheet" href="@Url.Content("~/css/light.css")" />
@* 	<script src="js/settings.js"></script>
	<style>body {
			opacity: 0;
		}
	</style> *@
	<!-- END SETTINGS -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-10"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120946860-10', { 'anonymize_ip': true });
</script></head>
<!--
  HOW TO USE: 
  data-theme: default (default), dark, light, colored
  data-layout: fluid (default), boxed
  data-sidebar-position: left (default), right
  data-sidebar-layout: default (default), compact
-->

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">
	<div class="wrapper">
		@* Navbar *@
		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="index.html">
					<span class="sidebar-brand-text align-middle">
						OAS
						<sup>
							@if (@EmployeeService.CurrentOwner.IsFreeTrial == true)
							{
								<small class="badge bg-primary text-uppercase">
									Trial
								</small>
							}
							else
							{
								<small class="badge bg-primary text-uppercase">
									@{
										var remainingDays = (EmployeeService.CurrentOwner.SubscribeEndDate - DateTime.Now).Days;
										@remainingDays.ToString();
									}
								</small>
							}
						</sup>
					</span>
					<svg class="sidebar-brand-icon align-middle" width="32px" height="32px" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="1.5"
						stroke-linecap="square" stroke-linejoin="miter" color="#FFFFFF" style="margin-left: -3px">
						<path d="M12 4L20 8.00004L12 12L4 8.00004L12 4Z"></path>
						<path d="M20 12L12 16L4 12"></path>
						<path d="M20 16L12 20L4 16"></path>
					</svg>
				</a>

				<div class="sidebar-user">
					<div class="d-flex justify-content-center">
						<div class="flex-grow-1 ps-2">
							@if (EmployeeService.CurrentEmployee != null)
							{
								<div class="sidebar-user-title">@EmployeeService.CurrentOwner.OwnerName</div>
								<div class="sidebar-user-subtitle">Owner</div>
							}
						</div>
					</div>
				</div>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Pages
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="@Url.Action("List", "Manager")">
							<i class="align-middle" data-feather="user"></i> <span class="align-middle">Manager</span>
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="@Url.Action("Manage", "Bank")">
							<i class="align-middle" data-feather="user"></i> <span class="align-middle">Bank</span>
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="@Url.Action("List", "AboutUs")">
							<i class="align-middle" data-feather="user"></i> <span class="align-middle">About Us</span>
						</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="main">
			@* Header *@
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle js-sidebar-toggle">
					<i class="hamburger align-self-center"></i>
				</a>
				<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">
						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
								<div class="position-relative">
									<i class="align-middle" data-feather="bell"></i>
									<span class="indicator">4</span>
								</div>
							</a>
							<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
								<div class="dropdown-menu-header">
									4 New Notifications
								</div>
								<div class="list-group">
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<i class="text-danger" data-feather="alert-circle"></i>
											</div>
											<div class="col-10">
												<div class="text-dark">Update completed</div>
												<div class="text-muted small mt-1">Restart server 12 to complete the update.</div>
												<div class="text-muted small mt-1">30m ago</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</li>

						<li class="nav-item">
							<a class="nav-icon js-fullscreen d-none d-lg-block" href="#">
								<div class="position-relative">
									<i class="align-middle" data-feather="maximize"></i>
								</div>
							</a>
						</li>

						<li class="nav-item">
							<form id="logout-form" action="@Url.Action("LogoutAction", "Home")" method="post" style="display: none;">
								@Html.AntiForgeryToken()
							</form>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Log out</a>
							<form id="logout-form" action="@Url.Action("LogoutAction", "Home")" method="post" style="display: none;">
								@Html.AntiForgeryToken()
							</form>
						</li>
					</ul>
				</div>
			</nav>

			@* Main *@
			<main class="content">
				@RenderBody()
			</main>

			@* Footer *@
			@* <footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-start">
							<p class="mb-0">
								<a href="https://adminkit.io/" target="_blank" class="text-muted"><strong>AdminKit</strong></a> &copy;
							</p>
						</div>
						<div class="col-6 text-end">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a class="text-muted" href="#">Support</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#">Help Center</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#">Privacy</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#">Terms</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer> *@
		</div>
	</div>

	<script src="@Url.Content("~/js/app.js")"></script>
	<script src="@Url.Content("~/js/datatables.js")"></script>



	@RenderSection("Scripts", required: false)

	<script>
		$("#datatables-ajax").DataTable({
			"ajax": "@Url.Content("~/tables-datatables-ajax.json")"
		});
	</script>

	<</body>

</html>