@{
    ViewData["Title"] = "List";
}

@model AzzanOrder.ManagerOwner.Models.Model

<h1 class="h3 mb-3">Menu Item Management</h1>

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">ListMenuItem</h5>
        </div>
        <div class="card-body">
            <div>
                <a href="@Url.Action("Add", "Menu")" class="btn btn-primary">Add New MenuItem</a>
            </div>
            <br/>
            <table id="myTableItemCategory" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="width:5%">No.</th>
                        <th style="width:20%">Name</th>
                        <th class="d-none d-md-table-cell" style="width:10%">Description</th>
                        <th class="d-none d-md-table-cell" style="width:10%">Start Date </th>
                        <th class="d-none d-md-table-cell" style="width:10%">End Date</th>
                        <th style="width:10%">Is Combo</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int count = 1;
                        foreach (var i in Model.itemCategories)
                        {
                            <tr>
                                <td>@count</td>
                                <td>@i.ItemCategoryName</td>
                                <td class="d-none d-md-table-cell">@i.Description</td>
                                <td class="d-none d-md-table-cell">@i.StartDate</td>
                                <td class="d-none d-md-table-cell">@i.EndDate</td>
                                <td>@(i.IsCombo == true ? "Yes" : "No")</td>
                                <td class="table-action" data-category-id="@i.ItemCategoryId" data-category-name="@i.ItemCategoryName" style="cursor:pointer">
                                    <button class="btn btn-info btn-sm">View Items</button>
                                </td>
                            </tr>
                            count++;
                        }
                        
                    }
                </tbody>
            </table>
        
        
        <hr/>
        <br/>
        <div id="menuItemsContainer"  class="card-body"></div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />

    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTableItemCategory').DataTable();
        });
    </script>
    <script>
        // Hàm xử lý click vào category để load danh sách món
        $(document).ready(function () {
            $('.table-action').on('click', function () {
                var categoryId = $(this).data('category-id');
                var categoryName = $(this).data('category-name');

                $.ajax({
                    url: 'https://localhost:7183/api/MenuItem/ItemCategoryId/' + categoryId, // Đường dẫn API
                    type: 'GET',
                    success: function (data) {
                        // Hiển thị danh sách món ăn tại đây
                        var menuItemsHtml = `<h3 class="card-title">Menu Items of ${categoryName}</h3> <table id="myTable" class="table table-striped table-hover">`;
                        menuItemsHtml += '<thead><tr><th>No</th><th>Name</th><th class="d-none d-md-table-cell">Image</th><th>Price</th><th>Description</th><th>Actions</th></tr></thead><tbody>';
                        $.each(data, function (index, item) {
                            menuItemsHtml += `
                                 
                            <tr>
                                    <td>${index+1}</td>
                                                <td>${item.menuItem.itemName}</td>
                                                                        <td class="d-none d-md-table-cell"><img src="${item.menuItem.image}" alt="Girl in a jacket" width="50" height="50"> </td>
                                                <td>${item.menuItem.price}</td>
                                                <td>${item.menuItem.description}</td>
                                        <td>
                           
                                                            <a href="/Menu/Update/${item.menuItem.menuItemId}" class="btn btn-warning btn-sm">Edit</a>
                                                    <button class="btn btn-danger btn-sm" onclick="deleteItem(${item.menuItem.menuItemId})">Delete</button>
                                        </td>
                                    </tr>`;
                        });
                        menuItemsHtml += '</tbody></table>';

                        $('#menuItemsContainer').html(menuItemsHtml);
                        $(document).ready(function () {
                            $('#myTable').DataTable();
                        });
                    },
                    error: function (err) {
                        alert('Error fetching data');
                    }
                });
            });
        });

        // Hàm xóa món ăn
        function deleteItem(menuItemId) {
            if (confirm("Are you sure you want to delete this item?")) {
                $.ajax({
                    url: 'https://localhost:7183/api/MenuItem/Delete/' + menuItemId, // Đường dẫn API xóa
                    type: 'DELETE',
                    success: function (response) {
                        alert('Item deleted successfully!');
                        location.reload(); // Reload lại trang để cập nhật danh sách món ăn
                    },
                    error: function (err) {
                        alert('Error deleting item');
                    }
                });
            }
        }
    </script>
}
