@model IEnumerable<AzzanOrder.ManagerOwner.Models.VoucherDetail>

<h1 class="h3 mb-3">Voucher Management</h1>

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">ListVoucher</h5>
        </div>
        <div>
            <a href="@Url.Action("Add", "Voucher")" class="btn btn-primary">Add New Voucher</a>
        </div>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th style="width:5%">No.</th>
                    <th style="width:15%">Title</th>
                    <th style="width:50%">Item Category</th>
                    <th style="width:5%">Discount</th>
                    <th class="d-none d-md-table-cell" style="width:10%">Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    var voucherDetail = Model.ElementAt(i);
                    var vouchers = voucherDetail.Vouchers;
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@voucherDetail.Title</td>
                        <td>
                            @foreach (var voucher in vouchers)
                            {
                                <div>
                                    @voucher.ItemCategory?.ItemCategoryName
                                    <span class="@(voucher.IsActive == true ? "text-success ms-2" : "text-danger ms-2")">
                                        @(voucher.IsActive == true ? "Active" : "Not Active")
                                    </span>
                                </div>
                            }
                        </td>
                        <td>@voucherDetail.Discount%</td>
                        <td class="d-none d-md-table-cell">@voucherDetail.Price</td>
                        <td class="table-action">
                            <a href="@Url.Action("Update", "Voucher", new { id = voucherDetail.VoucherDetailId })"><i class="align-middle" data-feather="edit-2"></i></a>
                            <a href="@Url.Action("Delete", "Voucher", new { id = voucherDetail.VoucherDetailId })"><i class="align-middle" data-feather="trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>