@model IEnumerable<AzzanOrder.ManagerOwner.Models.Table>

<h1 class="h3 mb-3">Table Management</h1>

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">ListTable</h5>
        </div>
        <div>
            <a href="@Url.Action("Add", "Table")" class="btn btn-primary">Add New Table</a>
        </div>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th style="width:10%">No.</th>
                    <th style="width:50%">QR code</th>
                    <th style="width:30%">Table Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var table in Model)
                {
                    <tr>
                        <td>@table.TableId</td>
                        <td>@table.Qr</td>
                        <td>@(table.Status == true ? "Open" : "Closed")</td>
                        <td class="table-action">
                            <a href="@Url.Action("Update", "Table", new { id = table.TableId })"><i class="align-middle" data-feather="edit-2"></i></a>
                            <a href="@Url.Action("Delete", "Table", new { id = table.TableId })"><i class="align-middle" data-feather="trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>