@model AzzanOrder.ManagerOwner.Models.Model
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">AboutUsManager</h5>
        </div>
        <div class="card-body">
            <div>
                <a href="@Url.Action("Add", "AboutUs")" class="btn btn-primary">Add New About</a>
            </div>
            <br/>
            <table id="myTable" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="width:5%">No</th>
                        <th style="width:10%">Title</th>
                        <th style="width:70%">Content</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int position = 1;
                        foreach (var i in Model.abouts)
                        {
                            <tr>
                                <td>@position</td>
                                <td>@i.Title</td>
                                <td>@i.Content</td>
                                <td class="table-action">
                                    <a href="@Url.Action("Update", "AboutUs", new { id = i.AboutId })"><i class="align-middle" data-feather="edit-2"></i></a>
                                    <a href="@Url.Action("Delete", "AboutUs", new { id = i.AboutId })"><i class="align-middle" data-feather="trash"></i></a>
                                </td>
                            </tr>
                            position++;
                        }
                    }

                </tbody>
            </table>
            
        </div>
    </div>
</div>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />

<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>